.post .row div{
    box-shadow:2px 2px 3px rgb(187, 185, 185);
    margin-top:20px;
    padding:10px;
    height:auto;
} 
.danger{
    background:red;
    color:white;
    margin:0px 5px;
}
.grid{
     display: grid;
     grid-gap:20px;
     grid-template-columns: repeat(2, 50%);
}
.error{
    background:red;
    color:white;
    padding:3px 5px;
}